<br><br><br>
<div class="container">
<div class="panel panel-default">

    <div class="panel-body">
  
      <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
  
      [dtTrigger]="dtTrigger" >
  
        <thead class="thead-light">
  
          <tr>
            <th>id</th>
            <th>SectorName</th>
               <th>Brief</th>

  </tr>
  </thead>
  
        <tbody>
  
           <tr *ngFor="let sector of sectorList">
            <td>{{sector.id}}</td>
            <td>{{sector.sectorName}}</td>
            <td>{{sector.brief}}</td>
            <td><button (click)="updateSectordata(sector)" class="btn btn-primary">Update</button> </td>
            <td><button (click)="deleteSectorData(sector)" class="btn btn-danger">Delete</button> </td>
           
            
           </tr>
  
        </tbody><br>
  
      </table>
      <div class="text-center"> 
        <a routerLink="/sector" class="btn btn-link " role="button">add</a>
        <a routerLink="/home" class="btn btn-link " role="button">back</a>
</div>
    </div>
  
  </div>
  </div>
  
  
   
  
  