<div class="panel panel-default">

    <div class="panel-body">
  
      <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger" >
  
     
        <thead class="thead-light">
  
          <tr>
            <th>CompanyName</th>
            <th>TurnOver</th>
<th>Ceo</th>
<th>Board Of Directors</th>
  <th>List In Stock Exchange</th>
  <th>Sector</th>
<th>Brief</th>
<th>StockCode</th>
  
  </tr>
  </thead>
  
        <tbody>
  
           <tr *ngFor="let company of companydata ">
        <td>{{company.companyName}}</td>
            <td>{{company.turnOver}}</td>
            <td>{{company.ceo}}</td>
            <td>{{company.boardOfDirectors}}</td>
        <td>{{company.listinstockExchange}}</td>
        <td>{{company.sector}}</td>
        <td>{{company.brief}}</td>
        <td>{{company.stockCode}}</td>
        
        <td><button (click)="updateCompany(company)" class="btn btn-primary">Update</button> </td>
        <td><button (click)="deleteCompany(company)" class="btn btn-danger">Delete</button> </td>
       
            
           </tr>
  
        </tbody><br>
  
      </table>
      <div class="text-center"> 
        <a routerLink="/managecompany" class="btn btn-link " role="button">add</a>
        <a routerLink="/home" class="btn btn-link " role="button">back</a>
</div>
    </div>
  
  </div>
  
  
  
   
  
  
